<nav class="navbar navbar-expand-md navbar-light fixed-top bg-green">
    <span class="navbar-brand"><img src="../../assets/images/logo.png"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="../dashboard" routerLinkActive="active">Dashboard <span class="sr-only">(current)</span></a>
                <ul class="subNavbar-nav">
                        <li class="sub-nav-item">
                          <a class="sub-nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="sub-nav-item active">
                          <a class="sub-nav-link" href="#">Business Overview</a>
                        </li>
                        <li class="sub-nav-item">
                          <a class="sub-nav-link" href="#">Schedule</a>
                        </li>
                        <li class="sub-nav-item">
                          <a class="sub-nav-link" href="#">Reports</a>
                         </li>
                      </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Classes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Workshops</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link" href="#">Appointments</a>
               </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Client Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Retail</a>
                </li>
            </ul>
                    
          </div>
</nav>