<div class="tblContent">
    <div class="row headerRow">
            <div class="col-lg-2 col-5 tblLabelLarge">All Programs</div>
            <div class="col-lg-2 col-4 tblLabelSmall">Monthely Sales</div>
            <div class="col-lg-8 col-3 tblLabelSmall">Monthely Attendence</div>
        </div>
        <div class="row tblValueLabel">
                <div class="col-lg-2 col-5">Monthly Unlimited</div>
                <div class="col-lg-2 col-4">4260</div>
                <div class="col-lg-7 col-3">276 <small>visits</small></div>
        </div>
        <div class="row tblValueLabel">
                <div class="col-lg-2 col-5">Monthly Unlimited</div>
                <div class="col-lg-2 col-4">4260</div>
                <div class="col-lg-7 col-3">276 <small>visits</small></div>
        </div>
</div>