<div class="row">
<div class="col-sm-4">
    <div class="artifactTile">
        <div class="chartWrapper">
            <h5 class="title">Yoga Classes
                    <i class="fa fa-pencil"></i>
            </h5>
            <div class="salesTitle">Sales by month</div>
        </div>
        <div class="salesWrapper">
            <div class="row">
                <div class="col lineHeight"><span class="salesLabel">Total Monthly Sales</span></div>
                <div class="col">
                    <div class="salesLabel">Current</div>
                    <div class="salesValue">25483</div>
                </div>
                <div class="col">
                    <div class="salesLabel">1- Year</div>
                    <div class="salesValue">map here</div>
                </div>
            </div>
        </div>
        <div class="listWrapper">
            <div class="row">
                <div class="col"><span class="salesLabel">Price Name</span></div>
                <div class="col"><span class="salesLabel">Current</span></div>
                <div class="col"><span class="salesLabel">1- year</span></div>
            </div>
            <div class="row">
                    <div class="col pricelabel">Monthly Unlimited</div>
                    <div class="col salesLabel">4260</div>
                    <div class="col"></div>
            </div>
            <div class="row">
                    <div class="col pricelabel">Monthly Unlimited</div>
                    <div class="col salesLabel">4260</div>
                    <div class="col"></div>
            </div>
            <span class="salesLabel">More</span>
        </div>
    </div>
</div>
</div>