<div class="row">
<div class="col-lg-4 col-sm-6" *ngFor="let category of artifactsResult; let i=index;">
    <div class="artifactTile">
        <div class="chartWrapper">
            <h5 class="title">{{category.Name}}
                    <i class="fa fa-pencil"></i>
            </h5>
            <div class="salesTitle">Sales by month</div>
            <div>
                <div class="row">
                    <div class="col">
                        <div>
                                <img src="../../../assets/images/barChart.jpg"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="salesWrapper">
            <div class="row">
                <div class="col lineHeight"><span class="salesLabel">Total Monthly Sales</span></div>
                <div class="col">
                    <div class="salesLabel">Current</div>
                    <div class="salesValue">{{category.TotalMonthlySales | currency:'USD':'symbol':'1.0-0'}}</div>
                </div>
                <div class="col">
                    <div class="salesLabel">1- Year</div>
                    <div class="salesValue"><img src="../../../assets/images/LineChart.jpg"></div>
                </div>
            </div>
        </div>
        <div class="listWrapper">
            <div *ngIf="category.status">
            <div class="row">
                <div class="col"><span class="salesLabel">Price Name</span></div>
                <div class="col"><span class="salesLabel">Current</span></div>
                <div class="col"><span class="salesLabel">1- year</span></div>
            </div>
            <div class="row" *ngFor="let stats of statResult">
                    <div class="col pricelabel">{{stats.Name}}</div>
                    <div class="col salesLabel">{{stats.Sales | currency:'USD':'symbol':'1.0-0' }}</div>
                    <div class="col"> <img src="../../../assets/images/LineChart.jpg"></div>
            </div>
        </div>
            <span class="salesLabel" (click)="category.status = !category.status">{{category.status ? 'Less' : 'More'}}</span>
        </div>
    </div>
</div>
</div>